* {
	font-family: arial, sans-serif;
}

.bannerTable{
	background-color: #547194;
	width: 101%;
	margin: 0px;
	padding: 0px;
}

.BannerLogo{
	width: 400px;
	margin-right: 50px;
	margin-left: 50px;
}

.logorow{
    text-align: center; 
    vertical-align: middle;
}

.bannerrow{
	color: white;
	width: 100%;
    text-align: center; 
    vertical-align: middle;
}

.wallettable{
	width: 100%;
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
	padding: 5px;
	background-color: #ACC8E5;
}

.walletdiv{
	padding: 5px;
}

.walletlogo{
	width: 10%;
}

.removelogo{
	width: 30px;
}

.row1{
	width:  10%;
}
.row2{
	padding-left: 5px;
	width:  90%;
}
.row3{
	width:  10%;
}

.currencydiv{
	padding-left: 10px;
}